<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>企业微信Webhook注册</title>
    <style>
        h3 {
            color: red;
        }
    </style>
</head>
<body>

<h1>企业微信机器人Webhook注册</h1>

<h2>将机器人Webhook注册到服务，即可定时接收到推送。</h2>

<h3>免责声明：本服务作者从未强制要求任何人使用本服务，因使用本服务导致的纠纷或损失，服务作者不承担任何责任。<br>
    服务系无偿提供，任何收费行为与本服务作者无关。<br>
    在此建议，请勿将推送机器人拉入重要性较高的群聊，避免不必要的麻烦。<br>
</h3>

<form action="/result" method="post">
    企业微信机器人Webhook： <input type="text" name="webhook" /> <br>
    <input type="submit" value="Submit" />
</form>

</body>
</html>